#name{
    padding-left: 500px;
}

#email{
    padding-left: 500px;
}

#subject{
    padding-left: 500px;
}

#message{
    padding-left: 500px;
}

#submit{
    padding-left: 500px;
    color: black;
}